@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}
html,
body,
main {
  height: 100%;
}
body {
  margin: 0;
}
.map {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}
.scroll-area {
  position: relative;
  overflow: hidden;
}
.tile {
  position: absolute;
  width: 256px;
  height: 256px;
}

.loading,
.loaded {
  transition: opacity 0.2s;
}
.loading {
  opacity: 0;
}
.loaded {
  opacity: 1;
}

.report {
  position: absolute;
  background-color: #f5a32f;
  width: 50px;
  height: 50px;
  margin: -25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.report-1 {
  background-color: #e03b28;
  width: 30px;
  height: 30px;
  margin: -15px;
}
.report-2 {
  background-color: #ff8e3d;
  width: 40px;
  height: 40px;
  margin: -20px;
}

.frame {
  background: linear-gradient(
    180deg,
    rgb(224.25, 58.65, 39.94) 0%,
    rgb(255, 142.48, 61) 100%
  );
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 30px 30px 0px;
  height: 832px;
  position: relative;
  width: 750px;
}

.frame .overlap-group {
  height: 621px;
  left: 77px;
  position: absolute;
  top: 94px;
  width: 596px;
}

.frame .vector {
  height: 453px;
  left: 72px;
  position: absolute;
  top: 168px;
  width: 453px;
}

.frame .text-wrapper {
  color: #eeffff;
  font-family: 'Darker Grotesque-ExtraBold', Helvetica;
  font-size: 80px;
  font-weight: 800;
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
  width: 600px;
}

.frame .div {
  color: #eeffff;
  font-family: 'DM Sans-Bold', Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 596px;
}

.frame .rectangle {
  background-color: #eefffe;
  border-radius: 30px;
  box-shadow: 0px 4px 4px #00000040;
  height: 202px;
  left: 23px;
  position: absolute;
  top: 419px;
  width: 550px;
}

.frame .p {
  color: #093949;
  font-family: 'DM Sans-Medium', Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 449px;
  width: 516px;
}

.frame .arrow-instance {
  height: 100px !important;
  left: 697px !important;
  position: absolute !important;
  top: 352px !important;
  width: 100px !important;
}

.frame .text-wrapper-2 {
  color: #0a3a49;
  font-family: 'DM Sans-Bold', Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 210px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 795px;
  width: 331px;
}

.card {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(224.25, 58.65, 39.94) 0%,
    rgb(255, 142.48, 61) 100%
  );
  border-radius: 30px;
  box-shadow: 0px 4px 4px #00000040;
  overflow: hidden;
  width: 550px;
}

.card .vehicle-default {
  color: #eefffe;
  font-family: 'DM Sans-Bold', Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 117px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
  width: 432px;
}

.card .text-wrapper {
  font-weight: 700;
}

.card .span {
  font-family: 'DM Sans-Regular', Helvetica;
}

.card .overlap-group {
  left: 11px;
  position: absolute;
  width: 80px;
}

.card .ellipse {
  background-color: #eefffe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
  height: 80px;
  left: 0;
  position: absolute;
  width: 80px;
}

.card .div {
  color: #ffffff;
  font-family: 'DM Sans-Regular', Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

.card .overlap-group-2 {
  height: 225px;
  position: relative;
  top: 10px;
  width: 551px;
}

.card .was-your-ride-jacked {
  color: #eefffe;
  font-family: 'DM Sans-Regular', Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 551px;
}

.card .text-wrapper-2 {
  color: #eefffe;
  font-family: 'DM Sans-Regular', Helvetica;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0;
}

.card .text-wrapper-3 {
  font-family: 'DM Sans-Bold', Helvetica;
  font-weight: 700;
}

.card .ellipse-2 {
  background-color: #eefffe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
  height: 80px;
  left: 11px;
  position: absolute;
  top: 0;
  width: 80px;
}

.card .text-wrapper-4 {
  color: #ffffff;
  font-family: 'DM Sans-Regular', Helvetica;
  font-size: 50px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  width: 50px;
}

.card.default {
  height: 250px;
  position: relative;
}

.card.variant-3 {
  height: 100px;
}

.card.variant-2 {
  height: 250px;
  position: relative;
}

.card.default .overlap-group {
  height: 94px;
  top: 76px;
}

.card.variant-3 .overlap-group {
  height: 94px;
  top: 76px;
}

.card.variant-2 .overlap-group {
  height: 97px;
  top: 88px;
}

.card.default .ellipse {
  top: 12px;
}

.card.variant-3 .ellipse {
  top: 12px;
}

.card.variant-2 .ellipse {
  top: 0;
}

.card.default .div {
  font-size: 75px;
  left: 3px;
  top: 0;
  width: 65px;
}

.card.variant-3 .div {
  font-size: 75px;
  left: 3px;
  top: 0;
  width: 65px;
}

.card.variant-2 .div {
  font-size: 65px;
  left: 10px;
  top: 3px;
  width: 61px;
}
