.map {
  width: 400px;
  height: 300px;
  overflow: auto;
  resize: both;
}
.scroll-area {
  position: relative;
}
.tile {
  position: absolute;
  width: 256px;
  height: 256px;
}
.loading,
.loaded {
  transition: opacity 0.2s;
}
.loading {
  opacity: 0;
}
.loaded {
  opacity: 1;
}
